.docker
.husky
.git
.github
kubernetes
node_modules
dist
scripts
test
tests

.dockerignore
.editorconfig
.env.example
.eslintignore
.eslintrc.json
.gitignore
.gitsubmodules
.tool-versions
commitlint.config.js
Dockerfile
nodemon.json
npm-debug.log
README.md

*.spec.ts
